$SLIDE_WIDTH_DESKTOP: 50%;
$SLIDE_WIDTH_MOBILE: 100%;

.section {
    @apply w-full -mt-4 md:-mt-16 relative;
    clip-path: inset(0);

    .bgWrapper {
        @apply fixed w-screen h-screen inset-0 overflow-hidden z-n1;
    }
}


.container {
    min-height: 55vh;
    @media only screen and (max-width: 767px) {min-height: 95vh;}
    @apply flex mx-auto pt-2 overflow-y-hidden lg:overflow-x-hidden;
}

.slide {
    flex: 0 0 $SLIDE_WIDTH_DESKTOP;
    @media only screen and (max-width: 768px) {
        flex: 0 0 $SLIDE_WIDTH_MOBILE;
    }

    @apply h-5/6 px-16;

    .text {
        border-width: 1px 1px 0 1px;
        @apply text-dks-light-gray text-sm border-white border-solid p-8 mb-4 relative;
    }

    .text::before, .text::after {
        content: '';
        position: absolute;
        bottom: -10px;
        height: 10px;
        border-style: solid;
        @apply border-solid border-white;
    }

    .text::before {
        left: 10px;
        width: 46px;
        border-width: 1px 1px 0 0;
        transform: skew(45deg);
        transform-origin: 100% 100%;
    }

    .text::after {
        right: 10px;
        width: calc(100% - 66px);
        border-width: 1px 0 0 1px;
        transform: skew(-45deg);
        transform-origin: 0 100%;
    }

    .author {
        @apply text-white font-bold pl-6;
    }

    .company {
        @apply text-dks-sea-blue text-sm pl-6;
    }
}

// Buttons
.previousButton {
    top: 30%;
    @apply w-8 md:w-10 h-16 absolute bg-dks-light-gray/25 text-white text-center pt-4 transition-all duration-300;
}

.nextButton {
    top: 30%;
    @apply w-8 md:w-10 h-16 absolute right-0 bg-dks-light-gray/25 text-white text-center pt-4 transition-all duration-300;
}

.previousButton:hover, .nextButton:hover {
    @apply w-16;
}