NEXT_PUBLIC_SITE_URL=https://dks.com.pl
NEXT_PUBLIC_DIRECTUS_URL=https://dks.pl/backend
DIRECTUS_URL=https://dks.pl/backend
DIRECTUS_INTERNAL_URL=https://dks.pl/backend
DIRECTUS_ADMIN_TOKEN=
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET_KEY=
NEXT_PUBLIC_RECAPTCHA_BYPASS_LOCAL=false
RECAPTCHA_BYPASS_LOCAL=false
FORMS_HMAC_SECRET=
