.section {
    @apply py-16 w-full md:max-w-screen-xl px-4 xl:px-0;
}
.item {
    width: 23%;
    @apply sm:w-40 sm:m-2 cursor-pointer;
    
    .image {
        height: 200px;
        @apply w-full relative sm:h-36;
    }

    .body {
        @apply sm:py-4 sm:h-36 md:p-4 md:h-40 border-b-2;
        border-color: #dde3e5;
    }

    .body:hover {
        @apply border-dks-red;
    }
}

.item:hover {
    .body {
        @apply text-dks-red transition-all duration-500;
    }

    .image {
        @apply brightness-75;
        transition: all .3s ease;
    }
}