.container {
    @apply flex overflow-y-hidden lg:overflow-x-hidden; 
}

.captionContainer {
    @apply absolute w-full md:max-w-screen-xl top-10 md:top-40 px-4 xl:px-0 lg:left-32 2xl:left-80;

    .caption {
        width: 35%;
        @media only screen and (max-width: 768px) {
            width: 40%;
            margin-left: 1rem;
        }

        h2 {
            @apply leading-tight font-bold text-dks-red mb-6;
        }

        span {
            @apply text-lg md:text-2xl leading-tight font-light;
        }

        .btn {
            @apply bg-dks-footer md:w-3/4 mt-8 uppercase text-white text-tiny text-center font-bold rounded p-3 transition-all duration-300 block;
        }
    
        .btn:hover {
            @apply bg-dks-red border-dks-red;
        }
    }
}

.previousButton {
    top: 45%;
    @media only screen and (max-width: 768px) {
        top: 80%;
    }
    @apply w-10 h-16 absolute left-0 opacity-40 bg-dks-gray text-white text-center pt-4 transition-all duration-300;
}

.nextButton {
    top: 45%;
    @media only screen and (max-width: 768px) {
        top: 80%;
    }
    @apply w-10 h-16 absolute right-0 opacity-40 bg-dks-gray text-white text-center pt-4 transition-all duration-300;
}

.previousButton:hover, .nextButton:hover {
    @apply w-16 opacity-60;
}