.tab {
    @apply relative uppercase sm:text-tiny text-sm font-bold text-dks-font-gray hover:text-dks-red transition-all;
    cursor: pointer;
}

.tab.active {
    @apply text-dks-red;
}

.tab::after {
    @apply border-b-2 border-dks-red block absolute transition-all;
    content: '';
    width: 0;
}

.tab.active::after {
    width: 100%;
    bottom: -1.1rem;
}

.contentTab {
    transition: opacity 0.3s linear, visibility 0.4s linear;
    @apply opacity-0 invisible max-h-0 absolute top-0;
}

.contentTab.active {
    @apply opacity-100 visible max-h-full relative;
}

.contactImagePrimary {
    height: 29rem;
    @apply sm:h-64 w-full relative;
}