.htmlContent {
    // @apply my-10;
    
    h1, h2, h3, h4, h5, h6 {
        @apply font-bold pt-8;
    }
    p {
        @apply text-dks-font text-base pt-4;
    }
    a {
        @apply text-dks-red underline;

    }
    ul {
        @apply mr-4 pl-4;   
        li {
            @apply text-dks-font text-base pt-4;   
            &:before {
                content: '•';
                @apply text-dks-red mx-0 mr-3 relative; 
                margin-left: -16px;
            }
        }
        
    }
    ol {
        @apply text-dks-font text-base pt-4 list-decimal;   
        &:before {
            margin-left: -16px;
        }
    }
    th {
        text-align: left;
    }   
}
// .textGreyBase {
//     @apply text-dks-gray text-base;
// }