.htmlContent {
    ul {
        @apply mr-4 pl-4;   
    }

    li {
        @apply text-dks-font text-base pt-4;   
        &:before {
            content: '•';
            @apply text-dks-red mx-0 mr-3 relative; 
            margin-left: -16px;
        }
    }

    th {
        text-align: left;
    }

    h1, h2, h3, h4, h5, h6 {
        @apply font-bold pt-8;
    }

    p {
        @apply text-dks-font text-base pt-4;
    }
}

.tab {
    @apply py-6 text-center relative uppercase sm:text-tiny text-sm font-bold text-white bg-dks-dark-gray transition-all;
    cursor: pointer;
}

.tab.active {
    @apply bg-dks-orange;
}

.contentTab {
    transition: opacity 0.3s linear, visibility 0.4s linear;
    @apply opacity-0 invisible max-h-0 absolute top-0 overflow-hidden;
}

.contentTab.active {
    @apply opacity-100 visible max-h-full relative;
}