.contactWidget {
    word-wrap: break-word;
    right: 10px;
    bottom: 10px;
    animation: all 0.3s ease-in;
    background-color: rgb(237, 28, 36);
    border-radius: 40px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.5;
    min-height: 48px;
    min-width: 48px;
    position: fixed;
    transition: all 0.2s ease-in;
    word-break: break-word;
    z-index: 2147483631;

    display: flex;
    flex-direction: row;
    justify-content: center;

    // Umożliwia interakcje
    pointer-events: auto;

    button {
        border: none;
        cursor: pointer; // Zmieniono na pointer
        font-weight: inherit;
        line-height: 1.5;

        // Stylizacja SVG w przycisku
        svg {
            width: 24px;
            height: 24px;
            fill: #e8eaed;
        }
    }
}
