.section {
    background-size: 100% 50%;
    background-repeat: no-repeat;
    background-position: center bottom;
    @apply py-24 bg-bottom bg-gradient-to-b from-dks-light-gray to-dks-light-gray w-full;
}
.item {
    width: 31%;
    box-shadow: -1px 0 5px 0 rgb(44 44 44 / 40%);
    @apply sm:w-11/12 sm:mx-auto bg-white rounded cursor-pointer;
    
    .body {
        min-height: 40rem;
        @apply py-10 px-6 text-center;

        .label {
            @apply uppercase text-xl text-dks-gray font-bold;
        }
        
        .price {
            @apply relative font-bold pt-2 pb-16;
        }
    
        .price::after {
            content: '';
            position: absolute;
            top: 80%;
            left: 50%;
            width: 10px;
            height: 10px;
            border-radius: 50px;
            @apply bg-dks-red;
        }
    
        ul li {
            margin: 1rem 0;

            span {
                margin-left: 0.3rem;
            }
        }
    }

    .highlighted {
        @apply bg-dks-red text-white text-center text-sm uppercase font-bold rounded-t w-full p-4;
    }

    .link {
        @apply bg-dks-dark-gray hover:bg-dks-red transition-all text-white text-center text-sm uppercase font-bold rounded-b w-full p-4;
    }
}